<template name="views_payable">
    <header>
        <div class="account-head">
            <div class="account-head-left">
                {{> dapp_identicon identity=investmentAccount class="dapp-small"}}
                <h2>investment account</h2>
                <p>{{ investmentAccount }} <a href="#" class="copy" title="Copy"></a></p>
                <p><span>{{ hvnBalance }}</span> <span class="currency">HVN</span></p>
            </div>
            <div class="account-head-right">
                <div class="payment-item">
                    <span>{{awaitingPayments}}</span> <span class="currency">eur</span>
                    <p>awaiting payment</p>
                </div>
            </div>
        </div>
        <div class="view-options">
            <div class="view-options-left">
                <p>sorting:</p>

                <a href="#" class="button">Price</a>
                <a href="#" class="button">End block</a>
                <a href="#" class="button active">Start block</a>
                <a href="#" class="button">Rating</a>
            </div>
            <div class="view-options-right">
                <p>view:</p>

                <a href="#" class="button active">ALL</a>
                <a href="#" class="button">Owned</a>
                <a href="#" class="button">To be Sold</a>
                <a href="#" class="button">Closed</a>
            </div>
        </div>
    </header>
    <section>
        <article class="invoices-block">
            <h4 class="invoice-head">received invoices</h4>

            {{#each invoice in invoices}}
            <div class="invoice-content six-cells {{#if invoice.isConfirmed }}success{{else}}warning{{/if}}">
                <div class="cell">
                    <h5 class="iconed user">Seller of the invoice</h5>
                    <h5 class="iconed user">Payer of the invoice</h5>
                </div>
                <div class="cell">
                    <p class="iconed card">Invoice ID: <span>#{{ invoice.invoiceId }}</span></p>
                </div>
                <div class="cell">
                    <p class="iconed date">Created on: <span>{{invoice.issueDate}}</span></p>
                    <p class="iconed date">Due date: <span>{{ invoice.dueDate }}</span></p>
                </div>
                <div class="cell">
                    <p class="iconed card">Invoice amount: <span>{{ invoice.amount }}</span> <span class="currency">{{ invoice.currency }}</span></p>
                </div>


                <div class="cell status">
                    <p>invoice status</p>
                    <span class="{{#if invoice.isConfirmed }}success{{else}}warning{{/if}}">{{#if invoice.isConfirmed }}confirmed{{else}}unconfirmed{{/if}}</span>
                </div>

            {{#unless invoice.waitingForBlockchain}}
                {{#unless invoice.isConfirmed }}
                <div class="cell center">
                    <a href="#" class="blue-button confirm-invoice" data-address="{{ invoice.invoiceAddress }}">confirm</a>
                </div>
                {{/unless}}

                {{#if invoice.isConfirmed }}
                <div class="cell center">
                    <a href="#" class="blue-button pay-invoice" data-address="{{ invoice.invoiceAddress }}">pay</a>
                </div>
                {{/if}}
            {{/unless}}

                {{#if invoice.waitingForBlockchain}}{{> spinner}}{{/if}}
            </div>
            {{else}}
                No invoices
            {{/each}}

        </article>
    </section>
</template>
